<!DOCTYPE html>
<html ng-app="state_of_mind">
<head>
    <title>State of Mind</title>

    <base href="/"/>

    {% include 'stylesheets.html' %}
</head>

<body>
{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 ng-view"></div>
    </div>
</div>
<!--<footer class="footer">-->
    <!--<div class="container">-->
        <!--<p class="copyright">Copyright &copy; 2015 Arjester Team</p>-->
    <!--</div>-->
<!--</footer>-->

{% include 'javascripts.html' %}
</body>


</html>
