{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-elastic/elastic.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/d3/d3.js' %}" ></script>
<script type="text/javascript" src="{% static 'bower_components/nvd3/nv.d3.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular-nvd3/angular-nvd3.js' %}"></script>

<!-- <script type="text/javascript" src="{% static 'bower_components/n3-line-chart/build/line-chart.js' %}"></script> -->


<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>


<script type="text/javascript" src="{% static 'javascripts/state_of_mind.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/state_of_mind.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/state_of_mind.routes.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

<!--<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.service.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>-->

<script type="text/javascript" src="{% static 'javascripts/entry/entry.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/entry/controllers/entry.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/entry/controllers/entries.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/entry/services/entry.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/entry/directives/entry-card.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/graph/graph.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/graph/controllers/graph.controller.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'javascripts/graph/services/graph.service.js' %}"></script> -->

<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

{% endcompress %}
