<div >
<a href="" class="btn  btn-raised" ng-class="{'btn-success':vm.showLineChart, 
           'btn-default': !vm.showLineChart}" ng-click="vm.selectLineChart()" >Line Chart</a>
<a href="" class="btn btn-raised" ng-class="{'btn-success':vm.showBarChart, 
           'btn-default': !vm.showBarChart}"  ng-click="vm.selectBarChart()">Bar Chart</a>
    <div class="jumbotron"  ng-show="vm.showLineChart">
        <nvd3 options="vm.options" data="vm.data" api="api"></nvd3>
    </div>
    <div class="jumbotron"  ng-show="vm.showBarChart">
        <nvd3 options="vm.optionsBar" data="vm.dataBar" api="api1"></nvd3>
    </div>
</div>