<div >
    
    <div class="day-entry jumbotron fade-animation" ng-show="vm.rate">
        <div class="day-entry-rating" ng-class="{1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}[vm.rate]">
            <h1>{{ vm.date|date:'MMM d, y' }}</h1>
            <h3>How was your day?</h3>
            <rating ng-model="vm.rate" max="vm.max" readonly="vm.isReadonly" on-hover="vm.hoveringOver(value)" on-leave="vm.overStar = null" state-on="'glyphicon-star gi-3x my-text-shadow'" state-off="'glyphicon-star-empty gi-3x'"></rating>

            <p class="rating-text"><span ng-show="vm.overStar && !vm.isReadonly">{{vm.state}}</span> </p>
            <a class="entry-control left" ng-href="/entry/{{vm.prev_date}}" role="button" ng-show="vm.prev_date">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="entry-control right" ng-href="/entry/{{vm.next_date}}" role="button" ng-show="vm.next_date">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div>
            <div class="form-group entry-note has-success">
                <span class="saving-status" ng-show="vm.goodTextState">{{vm.goodTextState}}</span>
                <h3 class="good-note-heading">What did you liked about today?</h3>
                <textarea msd-elastic class="form-control" rows="4" ng-model="vm.goodText" ng-change="vm.goodChanged()" ng-blur="vm.goodBlur()" placeholder="type in several words about nice things about today"></textarea>
            </div>
            <div class="form-group entry-note has-warning">
                <span class="saving-status" ng-show="vm.badTextState" >{{vm.badTextState}}</span>
                <h3 class="bad-note-heading">What wasn't so nice about today?</h3>
                <textarea msd-elastic class="form-control" rows="4" ng-model="vm.badText" ng-change="vm.badChanged()" ng-blur="vm.badBlur()" placeholder="type in several words about not so pleasant things about today"></textarea>
            </div>
        </div>
    </div>

</div>