<div class="col-md-3 col-sm-4 col-xs-12 entry-card">
    <a ng-href="{{entry.link}}">
    <div class="panel panel-default panel-btn entry-card-body" ng-href="{{entry.link}}">
        <div class="card-rating" ng-class="{0:'zero', 1:'one', 2:'two', 3:'three', 4:'four', 5:'five'}[entry.rate]" >
            <h2>{{ entry.date|date:'MMM d, y' }}</h2>
            <rating ng-model="entry.rate" max={{entry.max}} readonly="true" state-on="'glyphicon-star gi-2x my-text-shadow'" state-off="'glyphicon-star-empty gi-2x'"></rating>
        </div>
        <div ng-class="entry.rate > 0 ? 'good-note' : 'empty-note'">
            <h4> Good Notes:</h4>
            <p class="card-note">{{entry.goodText}}</p>
        </div>
        <div ng-class="entry.rate > 0 ? 'bad-note' : 'empty-note'">
            <h4> Bad Notes:</h4>
            <p class="card-note">{{entry.badText}}</p>
        </div>
    </div>
    </a>
</div>