<div>
    <div class="row">
	    <div class="repeated-item" ng-repeat="entry in vm.entries">
	        <entry-card entry="entry"></entry-card>
	    </div>
    </div>
    <div class="row centered" ng-show="vm.lastDateExist < vm.lastDateShown">
	    <a href="" class="btn btn-success btn-raised" ng-click="vm.showMore()" >More</a>
	</div>
</div>