.navbar.main-navbar{
    /*background-color: rgba(38, 146, 17, 0.86);*/
    background-color: rgba(46, 125, 50, 0.95);
    color: white;
}

.home-heading {
    padding: 0;
    min-height: 500px;
    background-color: #0F630F;
    background-image: url("/static/img/spring_1920.jpg");
    background-size: cover;
    position: relative;
}

.home-quote{
    position: absolute;
    bottom: 0;
    padding: 80px 20px 20px 20px;
    color: white;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
}

.home-quote h1 {
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

.home-quote p {
    text-align: right;
    font-size: 22px;
}

.home-content{
    padding: 60px 20px 60px 20px;
    font-size: 20px;
    text-align: center;
}

.home-thumbnails{
    background-color: #46A94A;
    color: white;
}

.home-thumbnail{
    padding: 20px;
    text-align: center;
    /*border-bottom: solid 2px #188803;*/
}


.copyright {
    color: #C3C3C3;
    text-align: center;
    letter-spacing: 1px;
}



/*ENTRY STYLE*/

.jumbotron.day-entry {
    text-align: center;
    padding: 0;
}

.day-entry-rating {
    position: relative;
    padding: 20px 20px 0 20px;
    color: white;
}

.rating-text {
    white-space: pre-wrap;
}

/* customized Bootstrap's carousel controllers arrows*/
.entry-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    filter: alpha(opacity=50);
    opacity: .5;
}
.entry-control.left {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 1%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.1)), color-stop(1%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0) 100%); /* W3C */
    background-repeat: repeat-x;
}
.entry-control.right {
    right: 0;
    left: auto;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(99%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 99%,rgba(0,0,0,0.1) 100%); /* W3C */
    background-repeat: repeat-x;
}
.entry-control:hover,
.entry-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
.entry-control .icon-prev,
.entry-control .icon-next,
.entry-control .glyphicon-chevron-left,
.entry-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.entry-control .icon-prev,
.entry-control .glyphicon-chevron-left {
    left: 50%;
    margin-left: -10px;
}
.entry-control .icon-next,
.entry-control .glyphicon-chevron-right {
    right: 50%;
    margin-right: -10px;
}
.entry-control .icon-prev,
.entry-control .icon-next {
    width: 20px;
    height: 20px;
    font-family: serif;
    line-height: 1;
}
.entry-control .icon-prev:before {
    content: '\2039';
}
.entry-control .icon-next:before {
    content: '\203a';
}

.entry-note {
    position: relative;
}

.entry-note textarea{
    resize: vertical;
    font-size: 1.2em;
}

.good-note-heading {
    color: green;
}

.bad-note-heading {
    color: rgb(255, 106, 41);
}


.saving-status {
    position: absolute;
    left: 20px;
}


.centered {
    text-align: center;
}

.card-rating {
    position: relative;
    padding: 10px;
}

.good-note {

}
.good-note h4 {
    color:green;
}

.bad-note {

}
.bad-note h4 {
    color: rgb(255, 106, 41);
}


.empty-note {

}

.empty-note h4 {
    color: lightgray;
}

.entry-card {
    text-align: center;
}

.entry-card-body {
    padding: 0;
    width: 100%;
}

.entry-card a {
    text-decoration: none;
}

.panel-btn{
    cursor: pointer;
    transition: background-color .2s ease,box-shadow .28s cubic-bezier(.4,0,.2,1);
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s, 0.28s;
    transition-timing-function: ease, cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: initial, initial;
}

.panel-btn:hover{
    box-shadow: 0 4px 9px 5px rgba(0,0,0,.14),0 4px 9px 5px rgba(0,0,0,.13);
}


.panel-btn:active{
    box-shadow: 0 5px 11px 6px rgba(0,0,0,.18),0 5px 15px 6px rgba(0,0,0,.15);
}

.my-shadow {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19)*/
}

.my-text-shadow {
    text-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}

.card-note {
    word-break: break-word;
    padding-left: 5px;
    padding-right: 5px;
    color:#727272;
    white-space: pre-line;
    line-height:1.2em;
    height:4.2em;
    overflow:hidden;
    border-bottom: 1px solid rgb(210, 210, 210);;
    content: "";
    width: 100%;
    position: relative;

}

.card-note:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 2.2em, white);
}

/* when hiding the thing */
.fade-animation.ng-hide-add         {
    -webkit-animation: 0.5s fadeOut ease;
    animation:0.5s fadeOut ease;
}

/* when showing the thing */
.fade-animation.ng-hide-remove      {
    -webkit-animation:0.5s fadeIn ease;
    animation:0.5s fadeIn ease;
}

.quick-fade-animation.ng-hide-add         {
    -webkit-animation: 0.1s fadeOut ease;
    animation:0.1s fadeOut ease;
}

/* when showing the thing */
.quick-fade-animation.ng-hide-remove      {
    -webkit-animation:0.1s fadeIn ease;
    animation:0.1s fadeIn ease;
}
/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    transition:0.5s linear all;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
    -webkit-animation:0.5s my_animation;
    -moz-animation:0.5s my_animation;
    -o-animation:0.5s my_animation;
    animation:0.5s my_animation;
}

@keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-moz-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}

@-o-keyframes my_animation {
    from { opacity:1; }
    to { opacity:0; }
}


.card-animation.ng-enter {
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 0;
}
.card-animation.ng-enter-active {
    opacity: 1;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 80px;
    /*margin-bottom: 60px;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    /*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-add-new-post {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.navbar-green {
    background-color: #4CAF50;
}


.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.yellow{color: #ffe927;}
.white{color: white;}
.light-yellow{color: #fff7b0;}

textarea {
    text-align: center;
}

.zero {
    background: rgb(205, 205, 205);
    color: rgb(160, 160, 160);
}

.one {
    background: #735834;
    color: white;
}

.two {
    background: #C78523;
    color: white;
}
.three {
    background: #F9C939;
    color: white;
}
.four {
    background: #8BC34A;
    color: white;
}
.five {
    background: #4CAF50;
    color: white;
}




