
<div ng-show="!vm.isAuthenticated">
	<div class="panel panel-default fade-animation">
		<div class="home-heading">
			<div class="">
				<div class="home-quote">

					<h1>
						To live happy and successful life all you need to do is live one happy and successful day at a time.
					</h1>
					<p>-- William Lyon Phelps</p>
				</div>
			</div>
		</div>

		<div class="home-content">
			<div class="">
				<div>
					<p>And that is what we are trying to do here:</p>
					<h2 style="font-size: 45px; font-weight: 100; padding-bottom: 17px;">"Live one day at a time"</h2>
					<p style="text-align:justify; line-height: 1.8; color: rgb(86, 100, 84);">
						But turns out it's easier said than done. In chaos of modern life we often forget about it. We always in the hurry, always running for something not knowing where or for what. Years go by like that and in the end we wonder why. We feel that something is wrong, we feel dissatisfaction with our lives and ourselves but hardly ever take time to look closely at what happens around us and see how we can make thing better. And we certainly can improve ourself and in result improve our life and lives of those people around us. As soon as we acknowledge problem we can start to solve it. And that is basically what this site is all about: it’s a mirror for our lives where we can see what is going on and what can be done better.
					</p>
				</div>
			</div>
		</div>

		<div class="home-thumbnails">
			<div class="row">
				<div class="col-md-4">
					<div class="home-thumbnail">
						<i class="mdi-content-content-paste" style="font-size: 46px;"></i>
						<h3>Daily notes</h3>
						ToDo
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-thumbnail">
						<i class="mdi-av-equalizer" style="font-size: 46px;"></i>
						<h3>Visualisation</h3>
						ToDo
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-thumbnail">
						<i class="mdi-action-help" style="font-size: 46px;"></i>
						<h3>Guidelines</h3>
						ToDo
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

